project:
  type: manuscript

manuscript:
  article: manuscript.qmd

format:
  html:
    theme: cosmo
    toc: true
    toc-depth: 3
    number-sections: true
    code-fold: true
    code-tools: true
    fig-cap-location: top
    tbl-cap-location: top
    comments:
      hypothesis: true
    embed-resources: true
    self-contained: true

  pdf:
    documentclass: article
    geometry:
      - top=30mm
      - left=25mm
      - right=25mm
      - bottom=30mm
    fontfamily: libertine
    fontsize: 11pt
    linestretch: 1.2
    number-sections: true
    colorlinks: true
    keep-tex: true
    fig-cap-location: top
    tbl-cap-location: top

  docx:
    reference-doc: default
    number-sections: true
    fig-cap-location: top
    tbl-cap-location: top

  jats: default

crossref:
  chapters: true
  fig-title: "Figure"
  tbl-title: "Table"
  title-delim: "."
  fig-prefix: "Figure"
  tbl-prefix: "Table"
  eq-prefix: "Equation"
  sec-prefix: "Section"
  ref-hyperlink: true

execute:
  freeze: true
  cache: true
  echo: false
  warning: false

jupyter: python3

bibliography:
  - references.bib



